%% -*- erlang -*-
%%     Digiplex config
%%

[
 {lager, [{log_root, "log"}, 
	  {colored, true},
	  {handlers, [
		      {lager_console_backend, 
		       [debug, {lager_default_formatter, 
				[date, " ", time," [",severity,"] ",pid, " ", 
				 module, ":", line, " ", message, "\n"]}]},
		      {lager_file_backend, 
		       [{file, "error.log"}, {level, warning}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]},
		      {lager_file_backend, 
		       [{file, "console.log"}, {level, info}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]}
		     ]}
	 ]},

 {digiplex,
  [{device, "/dev/serial/by-id/usb-FTDI_US232R_FTF5DP2J-if00-port0"},
   {baud, 19200},
   {password, "0000"},
   {reopen_timeout, 5000}
  ]}

].
